# ===== EARNETIX BACKEND ENVIRONMENT =====
# Copy this file to .env and fill in values

NODE_ENV=development
PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/earnetix
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
GOOGLE_CLIENT_ID=
CLIENT_URL=http://localhost:5173
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100
LOGIN_RATE_LIMIT_MAX=5

# Security & reCAPTCHA
RECAPTCHA_SECRET_KEY=your_v2_secret_key
VITE_RECAPTCHA_SITE_KEY=your_v2_site_key

# reCAPTCHA Enterprise (Recommended for Render)
RECAPTCHA_ENTERPRISE_PROJECT_ID=vertex-crm-494212
RECAPTCHA_ENTERPRISE_SITE_KEY=6LfFT-0sAAAAAOvHuu6YX5HvY6fTHBSgNVnmjOzQ
RECAPTCHA_ENTERPRISE_API_KEY=your_google_cloud_api_key_here
VITE_RECAPTCHA_ENTERPRISE_SITE_KEY=6LfFT-0sAAAAAOvHuu6YX5HvY6fTHBSgNVnmjOzQ
